@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
main {
  margin: 0 auto;
}
main > div {
  margin: 0 auto;
  background: var(--dark-background);
  width: 1579px;
}
.burger {
  display: none;
  position: relative;
  height: 90px;
}

.button_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_box a:active,
ul li:active {
  transform: scale(0.5);
}

.second_header {
  font-size: calc(30px + 20 * (100vw / 1579));
  font-weight: 400;
  line-height: 62px; /* 119.231% */
}

.white_button {
  padding: 20px 36px;
  border: 1px solid #fff;
  font-size: 17px;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  line-height: 25px;
  height: 65px;
  justify-content: center;
  white-space: nowrap;
  transition: 0.4s;
}
.white_button:hover {
  background-color: #fff;
  border: 1px solid var(--dark-background);
  color: var(--dark-background) !important;
}

.blue_button {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  transition: 0.4s;
}
.blue_button:hover {
  background-color: #fff;
  /* border: 1px solid var(--dark-background); */
  color: var(--dark-background) !important;
}

:root {
  --dark-background: #181818;
  --primary: #4452fe;
}

header {
  width: 100%;
  height: 119px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.logo {
  margin-right: 116px;
}
header ul a {
  height: 44px;
}
ul {
  width: 380px;
  justify-content: space-between;
}
ul li {
  display: flex;
  height: 100%;
  align-items: center;
  transition: 0.4s;
}

ul li:hover,
table tr:nth-child(2) td:hover,
table tr:nth-child(3) td:hover,
table tr:nth-child(4) td:hover,
table tr:nth-child(5) td:hover {
  color: var(--primary);
}

table tr:nth-child(2) td,
table tr:nth-child(3) td,
table tr:nth-child(4) td,
table tr:nth-child(5) td {
  transition: 0.4s;
}

.offer h1 {
  text-align: center;
  font-weight: 500;
  margin-top: 132px;
  font-size: calc(40px + 28 * (100vw / 1579));
}
.offer p {
  margin-top: 27px;
  margin-bottom: 95px;
  width: 582px;
}

.p {
  font-size: calc(17px + 3 * (100vw / 1579));
  font-weight: 400;
  line-height: 30px;
  padding: 10px;
}

.hero {
  padding-top: 10px;
}
.hero img:last-child {
  margin-top: -426px;
  vertical-align: bottom;
}

.second_screen {
  display: grid;
  padding-top: 220px;
}
.second_screen-main_content {
  /* margin-left: 245px; */
  margin: 0 auto;
}
.second_screen > p {
  margin-bottom: 80.5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.second_screen ol {
  padding: 20px;
  margin-top: 54px;
}
.second_screen ol li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 25px 270px;
  column-gap: 14px;
  width: 293px;
}
.second_screen ol li h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.second_screen-ol-last_li {
  margin-left: 10px;
}
.second_screen ol li p {
  padding: 10px;
  grid-column: 1 / span 2;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.third_screen {
  padding-top: 220px;
}
.third_screen .third_screen_heading p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
  padding-bottom: 44px;
}
.cards {
  width: 985px;
  justify-content: space-between;
}
.third_screen .cards > div {
  width: 476px;
  padding: 40px 5px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.third_screen .cards div h3,
.third_screen .cards div h3 span {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /* 150% */
  text-align: center;
  margin-bottom: 30px;
}
.third_screen .cards div p {
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-align: center;
}
.third_screen .cards div a {
  margin-top: 67px;
}
.third_screen_button {
  display: flex;
  justify-content: center;
}
.card_a .button_box {
  margin-bottom: 30px;
}

.forth_screen {
  padding-top: 210px;
}
.forth_screen_heading p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
  padding-bottom: 54px;
}
.grid_layout_gallery {
  display: grid;
  grid-template-areas:
    "a a b b c c d d"
    "e e e f f g g g";
  width: 1087px;
  column-gap: 33px;
  row-gap: 44px;

  /* "a a b b c c"
     "e e e . f f"
     "d d . g g g" */
}
.grid_layout_gallery div img {
  transition: transform 0.8s;
}
.grid_layout_gallery div img:hover {
  transform: scale(1.1);
}

.fifth_screen_heading h2 {
  padding-top: 220px !important;
}
.fifth_screen_heading p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
  padding: 10px;
  margin-bottom: 50px;
}
.fifth_screen_main_container {
  width: 832px;
}
.fifth_screen_main_container img {
  transition: transform 0.4s;
}
.fifth_screen_main_container img:hover {
  transform: scale(1.1);
}

.sixth_screen_main_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 883px;
  gap: 20px;
}
.sixth_screen_main_container .card {
  width: 430px;
  padding: 40px;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.sixth_screen_heading h2 {
  padding-top: 210px;
  margin-bottom: 50px;
}
.client_heading h3,
.client_heading h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.client img {
  margin-right: 23px;
  margin-bottom: 30px;
}

.seventh_screen {
  padding-top: 230px;
}
.info_card img {
  margin-top: -35px;
  object-fit: cover;
  width: 648px;
  border-bottom-right-radius: 33px;
}
.info_card {
  border-radius: 33px;
  width: 1219px;
  height: 370px;
  background-color: #343434;
}
.info_card .content {
  padding-top: 79px;
  padding-left: 52px;
}
.info_card .content h2 {
  margin-bottom: 37px;
  width: 479px;
}
.info_card .sBtn a {
  padding: 20px 67px;
}

.eighth_screen {
  padding-top: 287px;
  padding-bottom: 107px;
}
footer {
  width: 1031px;
  height: 223px;
  margin: 0 auto;
  display: flex;
}
footer ul {
  width: 319px;
  height: 191px;
}
footer ul li {
  height: 46px;
}
table {
  margin-right: 200px;
}

table tr td:first-child,
table tr td:nth-child(2) {
  padding-right: 97px;
}

.p {
  padding-bottom: 40px;
}

table tr:nth-child(2) td,
table tr:nth-child(3) td,
table tr:nth-child(4) td {
  padding-bottom: 19px;
}

footer ul li:first-child .img-i {
  margin-left: -5px;
}
footer ul li:last-child .img-i {
  margin-top: 27px;
  margin-right: 24px;
}
