@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    box-sizing: border-box;
}

:root {
    --dark-background: #181818;
}

.first_screen,
.second_screen {
    background: var(--dark-background );
    width: 1579px;
}
header {
    width: 1097px;
    height: 119px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.logo {
    margin-right: 116px;
}
header ul a{
    height: 44px;
}
ul {
    width: 380px;
    justify-content: space-between;
}
ul li {
display: flex;
height: 100%;
align-items: center;
}
.button_login {
    margin-left: 173px;
}
.login {
height: 52px;
padding: 20px 36px;
border: 1px solid #FFF;
font-size: 17px;
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.offer h1 {
text-align: center;
font-size: 80px;
font-weight: 500;
line-height: 88px; 
margin-top: 132px;
}
.offer h2 {
margin-top: 27px;
margin-bottom: 95px;
font-size: 20px;
font-weight: 400;
line-height: 30px; 
width: 582px;
}
.buttons_offer a:first-child {
font-size: 17px;
font-weight: 500;
line-height: 25px; 
padding: 20px 40px;
display: flex;
align-items: center;
background-color:#4452FE;
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
margin-right: 35px;
margin-bottom: 35px;
margin: inherit 35px 35px inherit;
}
.buttons_offer a:last-child {
font-size: 17px;
font-weight: 500;
line-height: 25px; 
padding: 20px 40px;
border: 1px solid #FFF;
display: flex;
align-items: center;
height: 65px;
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.hero img:last-child {
    margin-top: -426px;
    margin-bottom: 162px;
}

.second_screen {
    display: grid;
}
.second_screen-main_content {
    margin-left: 245px;
}
.second_screen > p {
    margin-bottom: 80.5px;
}
.second_screen ol {
    padding: 20px;
    margin-top:54px;
}
.second_screen ol li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 25px 270px;
    column-gap: 14px;
    width: 293px;

}
.second_screen ol li h3 {
font-size: 20px;
font-weight: 500;
line-height: 30px; 
}
.second_screen-ol-last_li {
    margin-left: 10px;
}
.second_screen ol li p {
    padding: 10px;
    grid-column: 1/ span 2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}
